:root {
  font-family: Helvetica, Arial, sans-serif;
  --steel: #3a759c;
  --cream: #f9f8eb;
  --gray: #424242;
  --light-gray: #828282;
  --shadow: 2px 2px 6px var(--light-gray);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100vh;
  background-color: var(--cream);
  gap: 64px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

nav {
  align-self: center;
  justify-self: end;
  display: flex;
  gap: 24px;
}

nav a {
  cursor: pointer;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  min-height: 80vh;
}

header svg {
  position: absolute;
  width: 100%;
  height: 65vh;
}

.about {
  align-self: center;
  display: grid;
  grid-template:
    'profile title' 4rem
    'profile desc' 1fr
    'profile nav' 3rem / 450px 1fr;
  gap: 24px;
  position: relative;
  max-width: 1000px;
  background-color: var(--cream);
  margin: 64px;
  padding: 24px;
  padding-left: 0;
  box-shadow: var(--shadow);
}

.about picture {
  grid-area: profile;
  position: absolute;
  align-self: center;
}

.about picture p {
  align-self: flex-end;
  position: absolute;
  font-size: 4.2rem;
  bottom: 0.5rem;
  left: 1rem;
  color: var(--cream);
}

.about > h1 {
  grid-area: title;
  align-self: center;
}

.about > p {
  grid-area: desc;
  align-self: center;
  line-height: 1.8rem;
  font-size: 1.25rem;
  color: var(--gray);
}

.about > nav {
  grid-area: nav;
}

.about nav img {
  height: 40px;
  width: 40px;
}

main {
  justify-self: center;
  display: flex;
  flex-direction: column;
  max-width: 85vw;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  margin-top: 16px;
  gap: 48px;
}

.project {
  display: grid;
  grid-template:
    'preview preview' 12rem
    'title nav' 2rem
    'desc desc' 1fr / max-content 1fr;
  align-items: center;
  gap: 8px;
  box-shadow: var(--shadow);
  background-color: var(--cream);
}

.project > img {
  grid-area: preview;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.project > h2 {
  grid-area: title;
  font-size: 1.4rem;
  padding-left: 24px;
}

.project > nav {
  grid-area: nav;
  gap: 12px;
  padding-right: 24px;
}

.project > nav img {
  height: 32px;
  width: 32px;
}

.project > p {
  grid-area: desc;
  margin-bottom: 64px;
  font-size: 1.1rem;
  color: var(--gray);
  padding: 0 24px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--steel);
  padding: 0 32px;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 32px;
  gap: 40px;
  color: var(--cream);
}

.contact p {
  font-size: 1.4rem;
}

.contact span {
  display: block;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detail {
  display: flex;
  align-items: center;
  gap: 16px;
}

.detail img {
  height: 32px;
  width: 32px;
}

.contact nav {
  align-self: start;
}

.contact nav img {
  height: 48px;
  width: 48px;
}

footer picture {
  padding: 32px;
  padding-left: 0;
}

@media (max-width: 999px) {
  .about {
    display: block;
    max-width: 640px;
    padding: 32px;
    padding-left: 0;
    padding-top: 0;
  }

  .about picture img {
    width: 280px;
    height: auto;
  }

  .about picture {
    position: static;
    float: left;
    transform: scale(1.15);
    transform-origin: bottom right;
    margin-right: 20px;
    text-wrap: nowrap;
  }

  .about picture p {
    font-size: 2.8rem;
    bottom: 17rem;
    left: 14rem;
  }

  .about > h1 {
    text-align: center;
    margin-bottom: 16px;
    margin-top: 32px;
  }

  .about > p {
    margin-left: 32px;
  }

  .about > nav {
    display: none;
  }

  .projects {
    grid-template-columns: repeat(2, minmax(250px, 1fr));
  }

  footer {
    padding: 0 16px;
  }

  .contact {
    padding: 32px 16px;
  }

  .contact p {
    font-size: 1.25rem;
  }

  .detail {
    gap: 12px;
  }

  footer picture {
    padding: 16px;
    padding-left: 0;
  }

  footer picture img {
    max-width: 40vw;
    height: auto;
  }
}

@media (max-width: 639px) {
  .about {
    display: flex;
    flex-direction: column;
    box-shadow: none;
    margin: 0;
    padding: 16px;
    background-color: transparent;
  }

  .about picture {
    transform: scale(1);
    transform-origin: center;
    margin: 0;
    text-wrap: wrap;
  }

  .about picture img {
    width: 80vw;
    height: auto;
  }

  .about picture p {
    font-size: 4.2rem;
    bottom: 0;
    left: 0;
    text-align: center;
  }

  .about h1 {
    margin: 0;
    margin-top: 64px;
  }

  .about > p {
    padding: 8px;
  }

  .about > nav {
    display: flex;
  }

  main h1 {
    align-self: center;
  }

  .projects {
    grid-template-columns: repeat(1, minmax(250px, 1fr));
  }

  footer {
    flex-direction: column;
    padding: 0;
  }

  .contact h1 {
    align-self: center;
  }

  .contact p {
    font-size: 1.15rem;
  }

  .contact > p:first-of-type {
    font-size: 1.25rem;
  }

  .contact nav {
    align-self: center;
  }

  footer picture {
    padding: 0;
  }

  footer picture img {
    display: block;
    min-width: 100vw;
    height: auto;
  }
}
