:root {
  font-family: Helvetica, Arial, sans-serif;
  --steel: #3a759c;
  --cream: #f9f8eb;
  --gray: #424242;
  --light-gray: #828282;
  --gray-shadow: 2px 2px 6px var(--light-gray);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100vh;
  background-color: var(--cream);
  gap: 64px;
}

h1 {
  font-size: 2.5rem;
  font-weight: 400;
}

h2 {
  font-weight: 400;
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  height: 90vh;
  background-color: var(--steel);
}

header svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 42vh;
}

.about {
  align-self: center;
  display: grid;
  grid-template:
    'profile title' 4rem
    'profile desc' 1fr
    'profile nav' 3rem;
  gap: 24px;
  position: absolute;
  max-width: 1000px;
  background-color: var(--cream);
  margin: 64px;
  padding: 24px;
  padding-left: 0;
  box-shadow: var(--gray-shadow);
}

.profile {
  min-width: 440px;
  display: flex;
  justify-content: center;
  position: relative;
  grid-area: profile;
}

.profile img {
  position: absolute;
  align-self: center;
  height: 500px;
  width: auto;
}

.profile p {
  position: absolute;
  bottom: -4.2rem;
  font-size: 4.2rem;
  color: var(--cream);
}

.about > h1 {
  grid-area: title;
  align-self: center;
}

.about > p {
  grid-area: desc;
  align-self: center;
  line-height: 1.8rem;
  font-size: 1.2rem;
  color: var(--gray);
}

.about > nav {
  grid-area: nav;
}

nav {
  align-self: center;
  justify-self: end;
  display: flex;
  gap: 24px;
}

nav a {
  cursor: pointer;
}

.about nav img {
  height: 32px;
  width: 32px;
}

main {
  justify-self: center;
  display: flex;
  flex-direction: column;
  max-width: 85vw;
}

.projects {
  display: grid;
  grid-template-columns: repeat(3, minmax(250px, 1fr));
  margin-top: 16px;
  gap: 48px;
}

.project {
  display: grid;
  grid-template:
    'preview preview' 12rem
    'title nav' 2rem
    'desc desc' 1fr / max-content 1fr;
  align-items: center;
  gap: 8px;
  box-shadow: var(--gray-shadow);
  padding: 24px 0;
  background-color: var(--cream);
}

.project > img {
  grid-area: preview;
}

.project > h2 {
  grid-area: title;
  font-size: 1.4rem;
  padding-left: 24px;
}

.project > nav {
  grid-area: nav;
  gap: 12px;
  padding-right: 24px;
}

.project > nav img {
  height: 24px;
  width: 24px;
}

.project > p {
  grid-area: desc;
  margin-bottom: 64px;
  font-size: 1.1rem;
  color: var(--gray);
  padding: 0 24px;
}

footer {
  display: flex;
  background-color: var(--steel);
  padding: 0 32px;
}

.contact {
  display: flex;
  flex-direction: column;
  padding: 64px;
  gap: 40px;
  color: var(--cream);
}

.contact p {
  font-size: 1.4rem;
}

.contact span {
  display: block;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.detail {
  display: flex;
  align-items: center;
  gap: 16px;
}

.detail img {
  height: 32px;
  width: 32px;
}

footer nav {
  align-self: start;
}

footer nav img {
  height: 48px;
  width: 48px;
}

footer > img {
  height: 700px;
  width: auto;
  padding: 64px;
  padding-left: 0;
}
