:root {
  font-family: Helvetica, Arial, sans-serif;
  --steel: steelblue;
  --cream: #f9f8eb;
  --steel-shadow: 0px 0px 8px var(--steel);
  --gray-shadow: 0px 0px 8px #727272;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  grid-template-rows: max-content 1fr max-content;
  min-height: 100vh;
  background-color: var(--cream);
}

header {
  display: flex;
  justify-content: center;
  position: relative;
  height: 90vh;
}

.background {
  position: absolute;
  background-color: var(--steel);
  box-shadow: var(--steel-shadow);
}

.slope {
  width: 200%;
  height: 100%;
  transform: rotate(-13deg);
  transform-origin: bottom left;
}

.about {
  align-self: center;
  display: grid;
  grid-template:
    'profile title' 4rem
    'profile desc' 1fr
    'profile nav' 3rem;
  gap: 24px;
  position: absolute;
  max-width: 1000px;
  background-color: var(--cream);
  margin: 64px;
  padding: 24px;
  padding-left: 0;
  box-shadow: var(--gray-shadow);
}

.profile {
  min-width: 440px;
  display: flex;
  justify-content: center;
  position: relative;
  grid-area: profile;
}

.profile img {
  position: absolute;
  align-self: center;
  height: 500px;
  width: auto;
}

.profile p {
  position: absolute;
  bottom: -4.2rem;
  font-size: 4.2rem;
  color: var(--cream);
}

.about > h1 {
  grid-area: title;
  align-self: center;
  font-size: 3rem;
  font-weight: 300;
}

.about > p {
  grid-area: desc;
  align-self: center;
  line-height: 1.8rem;
  font-size: 1.2rem;
}

.about > nav {
  grid-area: nav;
  align-self: center;
  justify-self: end;
}
